<div class="task-create">
  <div class="header">
    <h1>Create Task</h1>
    <span class="close" (click)="onClose()">
      <img src="assets/icons/close.svg" alt="Close" />
    </span>
  </div>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group">
        <label for="title">Task Title</label>
        <input
          id="title"
          formControlName="title"
          type="text"
          placeholder="Enter task title"
        />
      </div>
    </div>

    <div class="form-group-desc">
      <label for="description">Task Description</label>
      <textarea
        id="description"
        formControlName="description"
        placeholder="Enter task description"
      ></textarea>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="assignee">Assign to</label>
        <select id="assignee" formControlName="assignee">
          <option *ngFor="let member of teamMembers" [value]="member">
            {{ member }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="status">Task Assigning</label>
        <select id="status" formControlName="status">
          <option value="Pending">Todo</option>
          <option value="Completed">In Progress</option>
          <option value="Cancelled">Complete</option>
        </select>
      </div>

      <div class="form-group">
        <label for="dueDate">Task Due Date</label>
        <input id="dueDate" type="date" formControlName="dueDate" />
      </div>
    </div>

    <div class="button-row">
      <button type="submit" class="btn btn-create">Create</button>
      <button type="button" class="btn btn-delete" (click)="onReset()">
        Reset
      </button>
    </div>
  </form>
</div>
