<div class="dashboard">
  <div class="content">
    <div class="dashboard-header">
      <h1>Project</h1>
      <p style="font-size: 1.2rem; color: #6c757d; margin-bottom: 1rem">
        Manage your projects and assign tasks to your team members.
      </p>
      <app-button #createButton> Create </app-button>
    </div>
    <div class="project-list" *ngIf="projects.length">
      <app-card *ngFor="let project of projects" [project]="project"></app-card>
    </div>
    <p *ngIf="!projects.length" class="hint">Press create to add project.</p>
  </div>
  <app-pagination [totalPages]="pages" *ngIf="pages > 1"></app-pagination>
</div>
